.DiaryPreview {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--bg-gray-100);
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 100px;
}

.DiaryPreview .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.diary-button {
    display: flex;
    gap: 12px;
    color: var(--text-icy-gray);
}

.DiaryPreview .content-wrapper {
    flex: 1;
    width: 100%;
    background-image: linear-gradient(#e7ecee 2px, transparent 1px);
    background-size: 100% 32px;
    background-repeat: repeat;

    line-height: 2;
    color: var(--text-icy-gray);
}

.empty-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-wrapper > .img_wrapper {
    width: 36px;
    aspect-ratio: 1/1;
    background-color: #e6e7ea;
    border-radius: 100px;
    margin: 16px 0px;
}

.empty-wrapper > p {
    color: var(--text-icy-gray);
    margin: 0px;
}

.content-wrapper > p {
    margin-bottom: 32px;
    white-space: pre-wrap;
    word-break: break-all;
}
.diary-content {
    color: black;
    white-space: pre-wrap;
    word-break: break-all;
}

.icon-div-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 32px;
    margin-top: 4px;
    margin-bottom: 40px;
}

.icon-list-wrapper {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: #6d727b;
}

.icon-wrapper {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.icon-list-wrapper > span {
    font-size: 12px;
}

.icon-wrapper > img {
    width: 100%;
    object-fit: contain;
}

.modal-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.modal-alert-center-background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 4;

    animation: slideUpCenter 0.3s ease-out forwards;
}

@keyframes slideUpCenter {
    from {
        transform: translate(-50%, 50%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

.alert-sheet-overlay {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
    justify-content: space-between;
}

.alert-sheet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-sheet-content > p {
    font-family: 'NotoSansKR-Medium';
    font-size: 15px;
    color: var(--text-black);
}

.alert-sheet-content > span {
    font-family: 'NotoSansKR-Regular';
    font-size: 13px;
    color: var(--text-icy-gray);
}

.alert-sheet-select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-sheet-select > button {
    width: 138px;
    padding: 10px;
    background-color: transparent;
    border: none;
    font-family: 'NotoSansKR-Bold';
    font-size: 15px;
    color: var(--text-black);

    -webkit-tap-highlight-color: transparent;
}
