.CalendarItem {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--bg-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.CalendarItem.empty {
    background: transparent;
    cursor: default;
}

.CalendarItem.has-feeling {
    border: none;
}

.emotion-img {
    width: 100%;
}

.CalendarItem > p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: var(--text-icy-gray);
    text-align: center;
    font-family: 'NotoSansKR-ExtraBold';
    line-height: normal;
    display: inline-block;
    transform: translateY(-2px);
}

.today-tooltip {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--text-black);
    color: white;
    padding: 2px 8px;
    border-radius: 100px;
    font-size: 11px;
    white-space: nowrap;
    z-index: 3;
}

.today-tooltip::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: var(--text-black) transparent transparent transparent;
}

.tooltip-gray {
    background-color: var(--text-icy-gray) !important;
}

.tooltip-gray::after {
    border-color: var(--text-icy-gray) transparent transparent transparent !important;
}
