.CalendarBottomSheet {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    padding: 10px 15px;
    background-color: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}

.CalendarBottomSheet > button {
    font-family: 'NotoSansKR-Medium';
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 100px;
    font-size: 16px;
    border: none;
    -webkit-tap-highlight-color: transparent;
}
