.CalendarHeader {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.CalendarHeader .select-wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
}

.CalendarHeader .select-wrapper > p {
    font-size: 22px;
    font-family: 'NotoSansKR-ExtraBold';
}

.CalendarHeader button {
    font-size: 16px;
    padding: 8px 16px;
    background: var(--bg-gray-200);
    border: none;
    border-radius: 100px;
    color: inherit;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.bottom-sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    z-index: 4;
    padding-bottom: env(safe-area-inset-bottom);
    animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.sheet-content {
    display: flex;
    flex-direction: column;
    padding: 24px 20px;
    gap: 35px;
}

.sheet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sheet-header > h4 {
    font-size: 20px;
    margin: 0;
}

.year-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    gap: 20px;
    margin: 0 auto;
}

.month-item {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.month-item.active {
    background-color: var(--bg-gray-200);
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
}
