.CalendarCategory {
    width: calc(100% + 30px);
    margin: 0 -15px;
    margin-bottom: 18px;
    display: flex;
    overflow-x: auto;
    gap: 12px;
    -ms-overflow-style: none;
    align-items: center;
    padding: 10px;
}

.CalendarCategory::-webkit-scrollbar {
    display: none;
}

.CalendarCategoryWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    padding: 10px 12px;
    gap: 6px;
    background-color: var(--bg-gray-200);
}

.CalendarCategoryWrapper.selected {
    background-color: black;
}

.CalendarCategoryIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.CalendarCategoryIconWrapper img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.CategoryIconName {
    margin: 0;
    font-family: 'NotoSansKR-Bold';
    font-size: 12px;
    color: black;
    white-space: nowrap;
}

.CategoryIconName.selected {
    color: white;
}
