.CalendarItem {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--bg-gray-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.CalendarItem.empty {
    background: transparent;
    cursor: default;
}

.CalendarItem > p {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: var(--text-icy-gray);
    text-align: center;
    font-family: 'NotoSansKR-ExtraBold';
    line-height: normal;
    display: inline-block;
    transform: translateY(-2px);
}

.CalendarItem.selected {
    background-color: #e0f2fe;
    border: 2px solid #0ea5e9;
}

/* 오늘 날짜 스타일 (숫자 강조 등) */
.CalendarItem.today .day-number {
    color: #0ea5e9;
    font-weight: bold;
}

/* 오늘 툴팁 스타일 */
.today-tooltip {
    position: relative;
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    background-color: #0ea5e9;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 1;
}
