.BottomButton {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 115px;
    width: 100%;
    padding: 8px 15px;
    background-color: white;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}

.BottomButton > button {
    font-family: 'NotoSansKR-Medium';
    width: 100%;
    padding: 18px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-gray-100);
    color: var(--text-icy-gray);
    border-radius: 100px;
    font-size: 16px;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.BottomButton > button.focus {
    background-color: black;
    color: white;
}
