.NewHeader {
    margin-bottom: 30px;
}

.header-wrapper {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.NewHeader > .description {
    font-family: 'NotoSansKR-Medium';
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.NewHeader > .sub-text {
    font-family: 'NotoSansKR-Regular';
    font-size: 14px;
    color: var(--text-icy-gray);
    margin: 0;
    padding: 0;
}
