.CalendarBoard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.days-wrapper,
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7등분 */
    width: 100%;
}

.CalendarBoard .days-wrapper {
    text-align: center;
    color: var(--text-gray);
    font-size: 16px;
    gap: 10px;
    margin-bottom: 30px;
}

.CalendarBoard .calendar-grid {
    text-align: center;
    gap: 20px 10px;
}
